@model RegisterDto
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form class="row login_form" method="post">
                                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="col-md-12 form-group">
                                    <input asp-for="FullName" class="form-control" placeholder="FullName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'FullName'">
                                    <span class="alert alert-text" asp-validation-for="FullName"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input asp-for="Username" class="form-control" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                                    <span class="alert alert-text" asp-validation-for="Username"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input asp-for="Email" class="form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                                    <span class="alert alert-text" asp-validation-for="Email"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input asp-for="Password" class="form-control" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                                    <span class="alert alert-text" asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ConfirmPassword'">
                                    <span class="alert alert-text" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account">
                                        <input asp-for="Terms">
                                        <label for="f-option2">Agree terms</label>
                                        <span class="alert alert-text" asp-validation-for="Terms"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="primary-btn">Sign up</button>
                                    <a asp-controller="identity" asp-action="login">Already has account?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

